<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Samuel Molnár">

  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="An article {{ page.title }} about {{ page.keywords }} by Samuel Molnár">
  {% else %}
    <meta name="keywords" content="ruby, javascript, databases, postgresql, programming, machine learning, ruby on rails, rails">
    <meta name="description" content="A Blog about Ruby on Rails, JavaScript, databases, PostgreSQL, machine learning and other technologies by Samuel Molnár">
  {% endif %}

  <title>
    {% if page.title == "Home" or page.title == "About" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.base}}/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.base }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.base }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.base }}/atom.xml">
</head>
