// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 48rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.list-rang {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    padding-left: 2em;
    text-indent: -1em;
  }

  li:before {
    content: "⟩";
    padding-right: 5px;
  }
}

.list-unstyled {
  padding-left: 0px;
  margin-left: 0px;
  list-style: none;
}

footer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: $gray-2;

  a {
    color: $gray-2;

    &:hover,
    :active,
    .active {
      color: $gray-4;
    }
  }
}
