// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  width: 350px;
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2rem;

  @media(min-width: 900px) {
    position: absolute;
    left: 2rem;
    top: 2rem;
    margin-top: 0;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    height: 300px;
  }

  small {
    margin-top: 0.5rem;
    font-size: $root-font-size * 0.9;
    font-weight: $masthead-font-weight;
    color: $gray-4;
  }
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}
